@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Outfit:wght@100..900&family=Playfair+Display&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
  font-family: 'Roboto', 'Outfit', 'Playfair Display', sans-serif;
}

.prata-regular {
  font-family: 'Roboto', 'Outfit', 'Playfair Display', sans-serif;
      font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }